<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BankApp - My account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script type="text/javascript" src="..static/jquery-3.3.1.min.js"/>
        <link href="../static/mystyle.css" th:href="@{/mystyle.css}" rel="stylesheet" type="text/css" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <div class="mydiv">
            <h2>My account</h2>
            <h3><a style="float: right;" href="/logout">Logout</a></h3>
            <table class="glyphicon glyphicon-calendar">
                <tr>
                    <th>Username: </th>
                    <td th:text="${user.username}"></td>
                </tr>
                <tr>
                    <th>Account: </th>
                    <td th:text="${user.account}"></td>
                </tr>
                <tr>
                    <th>Balance: </th>
                    <td th:text="${user.balance}"></td>
                </tr>
            </table>

            <div class="mydiv">
                <p>Do you want to make order peymant?</p>
                <form action="#" th:action="@{/payment}" th:object="${payment}" method="post">
                    <select class="form-control" id="accounts" th:field="*{clientRecipient.id}">
                        <option value="0">Select account</option>
                        <option th:each="others:${clients}" th:value="${others.id}" th:text="${others.username} + ': '  + ${others.account}"></option>
                    </select>
                    <p>Amount: <input type="text" th:field="*{amount}" onkeypress='validate(event)'/></p>
                    <p><input type="submit" value="Submit"/></p>
                </form>
                <p class="error" th:text="${error}"></p>
            </div>

            <h3>My payment orders:</h3>
            <div>
                <table id = "payments" class="glyphicon glyphicon-calendar" th:if="${not #lists.isEmpty(payments)}">
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Recipient</th>
                    </tr>

                    <tr th:each="payment : ${payments}" >
                        <td th:text="${payment.id}"></td>
                        <td th:text="${payment.status}"></td>
                        <td th:text="${payment.amount}"></td>
                        <td th:text="${payment.clientRecipient.username} + ': ' + ${payment.clientRecipient.account}"></td>
                    </tr>
                </table>

                <select id="select" onchange="myFunction()">
                <option value="">Status</option>
                <option value="all">All</option>
                <option value="available">Available</option>
                <option value="paid">Paid</option>
                <option value="cancelled">Cancelled</option>
            </select>
            </div>
        </div>

        <script>
            function myFunction() {
                var status = document.getElementById("select").value;
                window.location = "/account/?status=" + status;
            }

            function validate(evt) {
                var theEvent = evt || window.event;
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]|\./;
                if( !regex.test(key) ) {
                    theEvent.returnValue = false;
                    if(theEvent.preventDefault) theEvent.preventDefault();
                }
            }
        </script>
    </body>
</html>