<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BankApp - Bank account</title>
        <script type="text/javascript" src="..static/jquery-3.3.1.min.js"/>
        <link href="../static/mystyle.css" th:href="@{/mystyle.css}" rel="stylesheet" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <h2>Bank account</h2>
        <div class="mydiv">
            <h3><a style="float: right;" href="/logout">Logout</a></h3>
            <h3>Payment orders:</h3>
            <table class="glyphicon glyphicon-calendar" th:if="${not #lists.isEmpty(payments)}">
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                <tr th:each="payment : ${payments}">
                    <td th:text="${payment.id}"></td>
                    <td th:text="${payment.status}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td><a th:href="@{/detail/(id=${payment.id})}">Detail</a></td>
                </tr>
            </table>
            <select id="filter" onchange="myFunction()">
                <option value="">Status</option>
                <option value="all">All</option>
                <option value="available">Available</option>
                <option value="paid">Paid</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </div>

        <script>
            function myFunction() {
                var status = document.getElementById("filter").value;
                window.location = "/bank/?status=" + status;
            }
        </script>
    </body>
</html>