<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BankApp - Payment order detail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/mystyle.css" th:href="@{/mystyle.css}" rel="stylesheet" type="text/css" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <h3><a href="/bank?status=all">Back</a></h3>
        <div class="mydiv">
            <h2 th:text="'Payment order: ' + ${payment.id}"></h2>
            <table class="glyphicon glyphicon-calendar">
                <tr>
                    <th>Status: </th>
                    <td th:text="${payment.status}"></td>
                </tr>
                <tr>
                    <th>Amount: </th>
                    <td th:text="${payment.amount}"></td>
                </tr>
                <tr>
                    <th>Payer:</th>
                    <td th:text="${payment.clientPayer.username} + ': ' + ${payment.clientPayer.account}"></td>
                </tr>
                <tr>
                    <th>Recipient:</th>
                    <td th:text="${payment.clientRecipient.username} + ': ' + ${payment.clientRecipient.account}"></td>
                </tr>
            </table>

            <form th:if="${payment.status} == 'available'" th:action="@{/execute}" method="post" style="display:inline-block;">
                <input name="paymentId" type="hidden" th:field="${payment.id}"/>
                <p><input type="submit" value="Execute"/></p>
            </form>
            <form th:if="${payment.status} == 'available'" th:action="@{/reject}" method="post" style="display:inline-block;">
                <input name="paymentId" type="hidden" th:field="${payment.id}"/>
                <p><input type="submit" value="Reject"/></p>
            </form>
        </div>
    </body>
</html>