<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BankApp - Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/mystyle.css" th:href="@{/mystyle.css}" rel="stylesheet" type="text/css" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <div class="mydiv">
            <h2>Login/Registration</h2>
            <form action="#" th:action="@{/makeAccount}" th:object="${client}" method="post">
                <p>Username: <input type="text" th:field="*{username}"/></p>
                <p>Password: <input type="password" th:field="*{password}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
            <p class="error" th:text="${error}"></p>
        </div>
    </body>
</html>