<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>BankApp - Payment</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link href="../static/mystyle.css" th:href="@{/mystyle.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3>Your payment order is done.</h3>
        <h3><a style="display:inline-block;" href="account/?status=all">Back</a></h3>
    </body>
</html>